# Server Configuration
PORT=8080
ENV=development

# Database Credentials
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=incident_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

MONGO_URI=mongodb://mongodb:27017/incident_docs_db

# Cache & Streaming
REDIS_HOST=redis
REDIS_PORT=6379

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

# Security JWT
JWT_SECRET=YourSuperSecretKeyForJWTAuthentication1234567890
JWT_EXPIRATION_MS=86400000
